Comum/HLP.Comum.WebServices/HLP.Comum.WebServices/Web References/wsHLPServicos/Services0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://hlp.com.br/WebServices/log" elementFormDefault="qualified" targetNamespace="http://hlp.com.br/WebServices/log" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Log">
    <xs:sequence>
      <xs:element minOccurs="0" name="xEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xFormulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xAcao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xInner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xDetalhes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Log" nillable="true" type="tns:Log" />
  <xs:complexType name="ArrayOfVersoesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VersoesModel" nillable="true" type="tns:VersoesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVersoesModel" nillable="true" type="tns:ArrayOfVersoesModel" />
  <xs:complexType name="VersoesModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="VersoesModel" nillable="true" type="tns:VersoesModel" />
</xs:schema>