HLP.Comum.Ws/Service References/servicoHlp/Services3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://hlp.com.br/WebServices/VersoesModel" elementFormDefault="qualified" targetNamespace="http://hlp.com.br/WebServices/VersoesModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVersoesModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VersoesModel" nillable="true" type="tns:VersoesModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVersoesModel" nillable="true" type="tns:ArrayOfVersoesModel" />
  <xs:complexType name="VersoesModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="dtArquivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xCaminho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xVersao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersoesModel" nillable="true" type="tns:VersoesModel" />
</xs:schema>