HLP.Comum.Ws/Service References/servicoHlp/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/Servicos/Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/Servicos/Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/Servicos/Services.svc?xsd=xsd2" namespace="http://hlp.com.br/WebServices/log" />
      <xsd:import schemaLocation="http://hlpsistemas.no-ip.org:8081/Servicos/Services.svc?xsd=xsd3" namespace="http://hlp.com.br/WebServices/VersoesModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_SetLogError_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLogError" />
  </wsdl:message>
  <wsdl:message name="IServices_SetLogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetVersoesMagnificus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersoesMagnificus" />
  </wsdl:message>
  <wsdl:message name="IServices_GetVersoesMagnificus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersoesMagnificusResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IServices_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetUltimaVersao_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUltimaVersao" />
  </wsdl:message>
  <wsdl:message name="IServices_GetUltimaVersao_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUltimaVersaoResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetUltimosScripts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUltimosScripts" />
  </wsdl:message>
  <wsdl:message name="IServices_GetUltimosScripts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUltimosScriptsResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetScripts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScripts" />
  </wsdl:message>
  <wsdl:message name="IServices_GetScripts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScriptsResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DownloadScript_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadScript" />
  </wsdl:message>
  <wsdl:message name="IServices_DownloadScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetScriptVersaoExe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScriptVersaoExe" />
  </wsdl:message>
  <wsdl:message name="IServices_GetScriptVersaoExe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScriptVersaoExeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="SetLogError">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/SetLogError" message="tns:IServices_SetLogError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/SetLogErrorResponse" message="tns:IServices_SetLogError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersoesMagnificus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetVersoesMagnificus" message="tns:IServices_GetVersoesMagnificus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetVersoesMagnificusResponse" message="tns:IServices_GetVersoesMagnificus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DownloadFile" message="tns:IServices_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DownloadFileResponse" message="tns:IServices_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUltimaVersao">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetUltimaVersao" message="tns:IServices_GetUltimaVersao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetUltimaVersaoResponse" message="tns:IServices_GetUltimaVersao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUltimosScripts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetUltimosScripts" message="tns:IServices_GetUltimosScripts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetUltimosScriptsResponse" message="tns:IServices_GetUltimosScripts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScripts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetScripts" message="tns:IServices_GetScripts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetScriptsResponse" message="tns:IServices_GetScripts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DownloadScript" message="tns:IServices_DownloadScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DownloadScriptResponse" message="tns:IServices_DownloadScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScriptVersaoExe">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetScriptVersaoExe" message="tns:IServices_GetScriptVersaoExe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetScriptVersaoExeResponse" message="tns:IServices_GetScriptVersaoExe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetLogError">
      <soap:operation soapAction="http://tempuri.org/IServices/SetLogError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersoesMagnificus">
      <soap:operation soapAction="http://tempuri.org/IServices/GetVersoesMagnificus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IServices/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUltimaVersao">
      <soap:operation soapAction="http://tempuri.org/IServices/GetUltimaVersao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUltimosScripts">
      <soap:operation soapAction="http://tempuri.org/IServices/GetUltimosScripts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScripts">
      <soap:operation soapAction="http://tempuri.org/IServices/GetScripts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadScript">
      <soap:operation soapAction="http://tempuri.org/IServices/DownloadScript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScriptVersaoExe">
      <soap:operation soapAction="http://tempuri.org/IServices/GetScriptVersaoExe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://hlpsistemas.no-ip.org:8081/Servicos/Services.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>